@import "tailwindcss";

:root {
  --cor-fundo: #f4eee8;
  --cor-morte: #3d2b1f;
  --cor-vida: #8b6609;
  --cor-texto: #2d241e;
  --cor-destaque: #8b6609;
}

.bg-morte { background-color: #3d2b1f; }
.bg-vida { background-color: #8b6609; }
.bg-fundo { background-color: #f4eee8; }
.text-morte { color: #3d2b1f; }
.text-vida { color: #8b6609; }
.text-texto { color: #2d241e; }